html {
  box-sizing: border-box;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}
body {
  background-color: #cccccc;
}
.text {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.boxButton {
  margin-top: 400px;
  display: flex;
  justify-content: center;
}

form {
  margin-top: 80px;
}
