<div class="text">
  <h1>Добавление записи администратором</h1>
</div>



<form action="" method="post" class="nameCall">
  <fieldset>

    <div class="dateTime">
      <input type="date" name="date" class="date">
      <input type="time" name="time" class="time">
    </div>


    <div class="form-group">
      <!-- элемент input с id = datetimepicker1 -->

      {{!-- <input type="text" name="nameClient">
  <input type="tel" name="phone"> --}}

      <div class="form-row ">

        <div class="col">
          <input type="text" class="form-control" placeholder="Имя">
        </div>

        <div class="col">
          <input type="text" class="form-control" placeholder="Телефон">
        </div>

      </div>

      <select class="form-control" id="exampleFormControlSelect1" name="serviceId">
        {{#each services}}
        <option value="{{this.id}}">{{this.title}}</option>
        {{/each}}
      </select>


      
        <div class="click">
        <button type="button" class="btn btn-warning ">Запись</button>
      </div>

  </fieldset>
</form>
