<h1>Добавление записи администратором</h1>
<form action="" method="post">
  <input type="date" name="date">
  <input type="time" name="time">
  <input type="text" name="nameClient">
  <input type="tel" name="phone">
  [услуга]

  <button type="submit">Добавить запись</button>
</form>
