<h1>Добавление записи администратором</h1>
<form action="" method="post">
  <input type="date" name="date">
  <input type="time" name="time">
  <input type="text" name="nameClient">
  <input type="tel" name="phone">
     <select class="form-control" id="exampleFormControlSelect1" name = "serviceId">
      {{#each services}}
      <option value = "{{this.id}}">{{this.title}}</option>
      {{/each}}
    </select>
  <button type="submit">Добавить запись</button>
</form>
