
<div class="text">
<h1>Welcome</h1>
</div>

<div class="card bg-dark text-white">
  <img src="img/76590d582a97b8bab0c537633dbefaf5.jpg" class="card-img foto" alt="#">
  <div class="card-img-overlay">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    <p class="card-text">Last updated 3 mins ago</p>
  </div>
</div>

<div class="boxButton">
  <a class="btn btn-secondary btn-lg firstButton" href="/newEntry">Large button</a>
</div>
{{!-- </form> --}}
