
<div class="text">
<h1>Услуги массажа в Санкт-Петербурге.</h1>
</div>

<div class="card bg-dark text-white">
  <img src="img/unnamed.jpg" class="card-img foto" alt="#">
  <div class="card-img-overlay textfoto">
    <h5 class="card-title"><b>Мастер Наталья</b></h5>
    <p class="card-text"> <b> Разные подходы в зависимости от типа лица и стояния тела, а также имеющихся возрастных изменений.</b></p>
    {{!-- <p class="card-text"><b>Дополнительные процедуры на профессиональной косметики Eldan и Eclado(по окончании сеанса, по желанию)</b></p>  --}}
  </div>
</div>

<div class="boxButton">
  <a class="btn btn-secondary btn-lg firstButton" href="/newEntry">Записаться</a>
</div>
{{!-- </form> --}}
