
<div class="text">
<h1>Welcome</h1>
</div>

{{!-- <form action="/newEntry" method="post" class="boxButton"> --}}
{{!-- <button type="button" class="btn btn-secondary btn-lg">Large button</button> --}}
<div class="boxButton">
  

<a class="btn btn-secondary btn-lg" href="/newEntry">Large button</a>
</div>
{{!-- </form> --}}
