<form action="" method="post">
  Выберите дату: <input type="date" name="date">
   <div class="form-group">
    <label for="exampleFormControlSelect1">Выберите услугу:</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>

  <button type="submit">Записаться</button>
</form> 


