<form action="" method="post">
  Выберите дату: <input type="date" name="date">
  Выберите услугу: [тут должен быть select услуг]

  <button type="submit">Записаться</button>
</form> --}}

<h1>Hi!</h1>

