<form action="/newEntryStep2" method="get" class="newEntyForm">
  <fieldset>


    <div class="dataEntry">
     <p class="labelForEnty">Выберите дату: <input type="date" name="date" class="dataEntryinput "></p>
    </div>

    <div class="selectEntry">

      <label for="exampleFormControlSelect1" class="labelForEnty">Выберите услугу:</label>

      <select class="form-control select" id="exampleFormControlSelect1" name="serviceId">

        {{#each services}}
        <option value="{{this.id}}">{{this.title}}, длительность: {{this.duration}} часа</option>
        {{/each}}

      </select>

    </div>


    <div class="click">
      <button type="sudmit" class="btn btn-warning ">Далее</button>
    </div>

  </fieldset>
</form>
