<form action="" method="post">
  <input type="date" name="date">
  <input type="time" name="time" value="21:33">
  <input type="datetime" name="dateTime" value="2020-07-03T07:00:00.000Z">
  <button type="submit">Записаться</button>
</form>
